<section class="lvl-estate-gallery">
    <section class="house" *ngFor="let house of houses">
        {{house.address}}
        <br />
        {{house.squareFeet}} square feet
        <br />
        {{house.architectureStyle}} architecture style
    </section>

    <form id="purchase-house" (ngSubmit)="purchaseHouse()">
        <label class="input-group">
            <input #address
                   name="address"
                   [(ngModel)]="houseToPurchase.address"
                   [class.filled]="houseToPurchase.address" />
            <span>Address</span>
        </label>

        <label class="input-group">
            <input name="squareFeet"
                   [(ngModel)]="houseToPurchase.squareFeet"
                   [class.filled]="houseToPurchase.squareFeet" />
            <span>Square Feet</span>
        </label>

        <label class="input-group">
            <input name="architectureStyle"
                   [(ngModel)]="houseToPurchase.architectureStyle"
                   [class.filled]="houseToPurchase.architectureStyle" />
            <span>Architecture</span>
        </label>

        <lvl-button (click)="purchaseHouse()">Purchase House</lvl-button>
    </form>
</section>